<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kontakt</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='kontakt.css') }}">
    </head>
    <body>
      <h1><center>Cześć! Dziekuję za odwiedzenie mojej strony domowej!</h1>
          <center><img src="https://cdn.visordown.com/styles/amp_1200/s3/field/image/837733.jpg?itok=-WAmJ4Ro" alt="Picture of Vale" title="Vale">
          <h2>Kontakt</h2></center>
          <ul>
            <li>telefon: 500 500 500</li>
            <li>e-mail: maciej.kolakowski@gmail.com</li>
          </ul>
          <h3>Wyślij wiadomość</h3>
          <form action="" method="post">
            <textarea name="Zgłoszenie" cols="100" rows="5"></textarea><input type="submit" value="Wyślij">
          </form>
    </body>
</html>