<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>O mnie</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='omnie.css') }}">
    </head>
    <body>
      <h1><center>Cześć! Dziekuję za odwiedzenie mojej strony domowej!</h1>
          <center><img src="https://cdn.visordown.com/styles/amp_1200/s3/field/image/837733.jpg?itok=-WAmJ4Ro" alt="Picture of Vale" title="Vale">
          <h2>O mnie</h2>
          <p><strong>Imię:</strong> Maciej</p>
          <p><strong>Nazwisko:</strong> Kołakowski</p>
    </body>
</html>